<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
         rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
         crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/css/style.css">
   <script src="/js/main.js"></script>
   <title>Conta</title>
</head>

<body>
<div class="container py-4 px-3 mx-auto">
   <div th:replace="elementos/navbar :: navbar"></div>

<div id="areaDeAlertas" style="max-width:700px;margin: 0 auto;"></div>

   <div style="max-width:700px;margin: 0 auto;">
      <p><h4 style="text-align: center;">Conta</h4></p>
   <div class="form-group">
      <label for="username" class="col-sm-3 col-form-label">Usuário</label>
      <div class="mb-3">
         <input type="text" readonly disabled class="form-control" id="username" th:placeholder="${session.usuario.nome}">
      </div>
   </div>
   <div class="form-group">
      <label for="email" class="col-sm-3 col-form-label">E-mail<span th:unless="${session.usuario.isEmail_verificado() == false}">   <img src="https://i.imgur.com/w3aKauq.png" width="22" /></span></label>
      <div class="mb-3">
         <input type="text" readonly disabled class="form-control" id="email" th:placeholder="${session.usuario.email}">
         <div id="emailHelp" class="form-text" th:if="${session.usuario.isEmail_verificado() == false}">Entre com sua conta DCX para obter o selo de conta verificada.</div>
      </div>
   </div>
      <div class="form-group">
         <label for="username" class="col-sm-3 col-form-label">Nível de Conta</label>
         <div class="mb-3">
            <input type="text" readonly disabled class="form-control" id="username" th:placeholder="${session.usuario.autoridade.label}">
         </div>
      </div>
<br/><br/>
<form onsubmit="editarConta();return false;" oninput="validar();">
   <div class="form-group">
      <label for="password" class="col-sm-3 col-form-label">* Nova Senha</label>
      <div class="mb-3">
         <input type="password" class="form-control" id="password" name="password" placeholder="Nova Senha">
      </div>
   </div>
   <div class="form-group">
      <label for="password2" class="col-sm-3 col-form-label">* Confirmar Nova Senha</label>
      <div class="mb-3">
         <input type="password" class="form-control" id="password2" name="password2" placeholder="Nova Senha">
      </div>
   </div>
   <div class="form-group" th:unless="${session.loginViaGoogle != null}">
      <label for="senha" class="col-sm-3 col-form-label">Senha</label>
      <div class="mb-3">
         <input type="password" class="form-control" id="senha" name="senha" placeholder="">
      </div>
   </div>
   <br/>
   <p align="right"><button type="submit" class="btn btn-primary">Alterar Senha</button></p>
</form>
      <script th:if="${session.usuario.senha==null}">
        alert("Parece que você ainda não tem uma senha, crie uma senha para entrar com o seu login.", 'warning');
    </script>
<script>

function validar() {
   checkCampo(password);
   password2.setCustomValidity((password2.value != password.value) ? "As Senhas não correspondem." : "");
}
validar();

</script>
</div>

   <div th:replace="elementos/footer :: footer"></div>
</div>
</body>
</html>