<!DOCTYPE html>
<html lang="en">

<head th:replace="index :: head"></head>

<body>
<div class="container px-3 mx-auto">
    <div th:replace="elementos/navbar :: navbar"></div>
<div id="areaDeAlertas" style="max-width:700px;margin: 0 auto;"></div>

    <div style="max-width:400px;margin: 0 auto;">
        <p><h4 style="text-align: center;">Login</h4></p>
<form onsubmit="sendForm(this.id, '/login.js', null);return false;" oninput="validar();" id="formLogin">
      <div class="mb-3">
         <label for="username" class="form-label">* Usuário:</label>
         <input type="username" class="form-control" id="username" name="username" placeholder="Usuário / E-mail">
      </div>
      <div class="mb-3">
         <label for="password" class="form-label">* Senha:</label>
         <input type="password" class="form-control" id="password" name="password">
      </div>
    <p class="text-center">
        <button type="submit" class="btn btn-primary">Login</button></p>
</form>
<br/>
<div class="text-center"><center><p/>
<h5>Entrar com DCX</h5>
    <div id="g_id_onload"
         th:data-client_id="${@environment.getProperty('GOOGLE_CLIENT_ID')}"
         data-callback="handleCredentialResponse">
    </div>
    <div class="g_id_signin" data-type="standard"></div>
</center></div>
<br/><br/>

        <script th:unless="${param.logout == null}">
            alert("A sua sessão foi finalizada!", 'success');
        </script>
        <script th:unless="${param.expirado == null}">
            alert("A sua sessão expirou.", 'warning');
        </script>
        <script>
        function handleCredentialResponse(response) {
            loginComGoogle(response.credential);
        }
        function validar() {
            username.setCustomValidity((username.value == null || username.value.length==0) ? "Verifique o campo Usuário." : "");
            password.setCustomValidity((password.value == null || password.value.length==0) ? "Verifique o campo Senha." : "");
        }
        validar();
        </script>
    </div>

    <div th:replace="elementos/footer :: footer"></div>
</div>
</body>
</html>