<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
         rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
         crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/css/style.css">
   <script src="/js/main.js"></script>
   <title>Cadastro de Usuário</title>
</head>
<body>
<div class="container py-4 px-3 mx-auto">
   <div th:replace="elementos/navbar :: navbar"></div>

<div id="areaDeAlertas" style="max-width:700px;margin: 0 auto;"></div>

   <div style="max-width:400px;margin: 0 auto;">
      <p><h4 style="text-align: center;">Registrar</h4></p>
<form onsubmit="efetuarRegistro();return false;" oninput="validar();" >
   <label for="username" class="form-label">* Usuário:</label>
   <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon3">https://universi.me/p/</span>
      <input type="text" class="form-control" id="username" aria-describedby="basic-addon3" name="username">
   </div>
   <label for="email" class="form-label">* E-mail:</label>
   <div class="input-group mb-3">
      <input type="text" class="form-control" aria-label="Text input with dropdown button" id="email" name="email">
      <span class="input-group-text">@dcx.ufpb.br</span>
   </div>
   <div class="mb-3">
      <label for="password" class="form-label">* Nova Senha:</label>
      <input type="password" class="form-control" id="password" name="password">
   </div>
   <div class="mb-3">
      <label for="password2" class="form-label">* Confirmar Nova Senha:</label>
      <input type="password" class="form-control" id="password2" name="password2">
   </div>
   <p class="text-center">
      <button type="submit" class="btn btn-primary">Registrar-se</button></p>
</form>
<script>
function validar() {
   checkCampo(username, usuarioFormato, "Apenas Letras Minusculas e Números.");
   checkCampo(email, emailFormato, "Apenas Letras Minusculas, \".\", \"_\" e Números.");
   checkCampo(password);
   password2.setCustomValidity((password2.value != password.value) ? "As Senhas não correspondem." : "");
}
validar();
</script>
</div>

   <div th:replace="elementos/footer :: footer"></div>
</div>
</body>
</html>