<!DOCTYPE html>
<html lang="en">

<head th:replace="index :: head"></head>

<body>
<div class="container px-3 mx-auto">
   <div th:replace="elementos/navbar :: navbar"></div>

<div id="areaDeAlertas" style="max-width:700px;margin: 0 auto;"></div>

   <div style="max-width:400px;margin: 0 auto;">
      <p><h4 style="text-align: center;">Registrar</h4></p>
<form onsubmit="sendForm(this.id, '/registrar', null);return false;" oninput="validar();" id="formRegistrar">
   <label for="username" class="form-label">* Usuário:</label>
   <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon3">https://universi.me/p/</span>
      <input type="text" class="form-control" id="username" aria-describedby="basic-addon3" name="username">
   </div>
   <label for="email" class="form-label">* E-mail:</label>
   <div class="input-group mb-3">
      <input type="text" class="form-control" aria-label="Text input with dropdown button" id="email" name="email">
      <span class="input-group-text">@dcx.ufpb.br</span>
   </div>
   <div class="mb-3">
      <label for="password" class="form-label">* Nova Senha:</label>
      <input type="password" class="form-control" id="password" name="password">
   </div>
   <div class="mb-3">
      <label for="password2" class="form-label">* Confirmar Nova Senha:</label>
      <input type="password" class="form-control" id="password2" name="password2">
   </div>
   <p class="text-center">
      <button type="submit" class="btn btn-primary">Registrar-se</button></p>
</form>
      <br/>
      <div class="text-center"><center><p/>
         <h5>Entrar com DCX</h5>
         <div id="g_id_onload"
              th:data-client_id="${@environment.getProperty('GOOGLE_CLIENT_ID')}"
              data-callback="handleCredentialResponse">
         </div>
         <div class="g_id_signin" data-type="standard"></div>
      </center></div>
      <br/><br/>
<script>
function validar() {
   checkCampo(username, usuarioFormato, "Apenas Letras Minusculas e Números.");
   checkCampo(email, emailFormato, "Apenas Letras Minusculas, \".\", \"_\" e Números.");
   checkCampo(password);
   password2.setCustomValidity((password2.value != password.value) ? "As Senhas não correspondem." : "");
}
validar();
</script>
</div>

   <div th:replace="elementos/footer :: footer"></div>
</div>
</body>
</html>