<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<div th:fragment="info">


    <div class="card" style="width:100%;">
        <div class="card-header text-center">Recomendar Usuário</div>
        <div class="card-body">

            <div class="input-group mb-3" style="max-width:400px;margin: 0 auto;">
                <input type="text" class="form-control" placeholder="Nome / Usuário / E-mail" aria-label="Usuário / E-mail"
                       aria-describedby="recomendarBt" id="pesquisarusuario-recomendar" name="recomendar">
                <button class="btn btn-outline-primary" type="button" id="recomendarBt"
                        onclick="abrirUrlRecomendarUsuario()">Recomendar
                </button>
            </div>
        </div>
    </div>

    <script>
        function abrirUrlRecomendarUsuario() {
            var valIn = document.getElementById("pesquisarusuario-recomendar").value;
            if(valIn) {
                window.location.href = "/recomendar/" + document.getElementById("pesquisarusuario-recomendar").value;
            }
        }
        configurarAutoCompInputId("pesquisarusuario-recomendar", function clicked(ui) {
            if(ui.item && ui.item.id) {
                window.location.href = '/recomendar/' + ui.item.id;
            }
        }, ['user']);
    </script>

</div>


</body>
</html>