<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="recomendar">


    <div class="card" style="width:100%;">
        <div class="card-header text-center">Recomendar Usuário</div>
        <div class="card-body">

            <h6 class="text-center">
                Fazer recomendação de
                <span th:with="participantePerfil = ${session.user.perfil}">
                    <span th:replace="perfil/nome :: nome"></span>
                </span>
                 para
                <span th:with="participantePerfil = ${userDestino.perfil}">
                    <span th:replace="perfil/nome :: nome"></span>
                </span>
            </h6>

            <form onsubmit="sendForm(this.id, '/recomendacao/criar', null);return false;" oninput="validar();" id="formCriarRecomendacao">
                <input type="hidden" name="origem" id="origem" th:value="${session.user.perfil.getId()}"/>
                <input type="hidden" name="destino" id="destino" th:value="${userDestino.perfil.getId()}"/>
                <div class="mb-3">
                    <label for="competenciatipoId" class="form-label">* Competência</label>
                    <select id="competenciatipoId" name="competenciatipoId" class="form-select" value="">
                        <option value="" selected disabled hidden>Selecionar...</option>
                        <option th:each="competenciaTipoNow : ${competenciaTipoService.findAll()}" th:value="${competenciaTipoNow.id}" th:text="${competenciaTipoNow.nome}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição</label>
                    <textarea type="text" class="form-control" id="descricao" name="descricao"
                              text=""></textarea>
                </div>
                <p align="right">
                    <button type="submit" class="btn btn-primary bi bi-hand-thumbs-up"> Fazer Recomendação</button>
                </p>
            </form>

        </div>

        <div class="card-body" style="padding-bottom:0px">
            <p align="left">
                <button onclick="javascript:window.history.back();" class="btn btn-primary">Voltar</button>
            </p>
        </div>

    </div>

    <script>
        function validar() {
            checkCampo(competenciatipoId);
        }
        validar();
    </script>
</div>


</body>
</html>