<!DOCTYPE html>
<html lang="en">

<head th:include="index :: head(title=~{::title/text()})">
    <title>Recomendar</title>
</head>

<body>
<div class="container px-3 mx-auto">
    <div th:replace="elementos/navbar :: navbar"></div>
    <div id="areaDeAlertas" style="max-width:700px;margin: 0 auto;"></div>
    <h2 th:text="${error}" th:unless="${error == null}">Menssagem de error.</h2>


    <div style="max-width=80%;margin: 0 auto;" th:unless="${error != null}">


        <div class="container">

            <div class="row gutters">

                <div class="col" style="width:60%;">

                    <div th:switch="${flagPage==null?'info':flagPage}">
                        <div th:case="'flagRecomendar'">
                            <div th:replace="recomendacao/recomendar :: recomendar" />
                        </div>
                        <div th:case="'info'">
                            <div th:replace="recomendacao/info :: info" />
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <br/><br/>

    <p align="left">
        <br/>
        <button onclick="javascript:window.history.back();" class="btn btn-primary">Voltar</button>
    </p>

</div>

</div>

</div>

<div th:replace="elementos/footer :: footer"></div>
</div>
</body>
</html>