<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
         rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
         crossorigin="anonymous">

   <link rel="stylesheet" href="/css/style.css">
   <script src="/js/main.js"></script>
   <title th:text="${grupo.nome}+': Adicionar Participante'" th:unless="${grupo == null}">Adicionar Participante</title>
   <title th:unless="${grupo != null}">Universi.me</title>
</head>

<body style="max-width:800px;margin: 0 auto;">
<center><img src="https://avatars.githubusercontent.com/u/116006104" width="200" alt="Universi.me"/></center>

<div id="mensagem_ok" class="alert alert-success" role="alert" hidden>
   <p>Operação realizada com sucesso.</p>
</div>
<div id="mensagem_error" class="alert alert-warning" role="alert" hidden>
   <p >Um error ocorreu.</p>
</div>

<p th:text="'Adicionar Participante em: ' + ${grupo.nome}" th:unless="${grupo == null}">[...]</p>
<form onsubmit="adicionarParticipanteAoGrupo();return false;" oninput="validar();">
   <input type="hidden" name="grupoId" id="hiddenField" th:value="${grupo.id}"/>
   <div class="mb-3">
      <label for="participante" class="form-label">* Usuário/Email: </label>
      <input type="text" class="form-control" id="participante" name="participante">
   </div>
   <p align="right"><button type="submit" class="btn btn-primary">Adicionar Participante</button></p>
</form>
<script>

function validar() {
   checkCampo(participante);
}
validar();

</script>
<p align="left"><button onclick="openSubUrl()" class="btn btn-primary">Voltar</button></p>
</body>
</html>