<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="criar">

    <div class="card" style="width:100%;">
        <div class="card-header text-center">Criar Grupo</div>
        <div class="card-body">


            <form onsubmit="criarGrupoNow();return false;" oninput="validar();">
                <input type="hidden" name="grupoId" id="hiddenField" th:value="${grupo.id}"/>
                <div class="mb-3">
                    <label for="nome" class="form-label">* Nome: </label>
                    <input type="text" class="form-control" id="nome" name="nome">
                </div>
                <label for="nickname" class="form-label">* Nickname</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3"
                          th:text="'https://universi.me'+${grupoDiretorio}+'/'"></span>
                    <input type="text" class="form-control" id="nickname" aria-describedby="basic-addon3"
                           name="nickname">
                </div>
                <div class="mb-3">
                    <label for="nome" class="form-label">* Imagem: </label>
                    <p class="text-center"><img src="https://i.imgur.com/SfAl1Vb.png" class="img-thumbnail" alt="" id="imagemUp" name="imagemUp" style="width:150px;"></p>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="imagem_file">
                        <label class="input-group-text" for="imagem_file">Upload</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="descricao" class="form-label">* Descricao: </label>
                    <textarea type="text" class="form-control" id="descricao" name="descricao"></textarea>
                </div>
                <div class="mb-3">
                    <label for="tipo" class="form-label">* Tipo: </label>
                    <select id="tipo" name="tipo" class="form-select">
                        <option th:each="tipoNow : ${tiposGrupo}" th:value="${tipoNow}"
                                th:text="${tipoNow.label}"></option>
                    </select>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="podeCriarGrupo"
                           name="podeCriarGrupo">
                    <label class="form-check-label" for="podeCriarGrupo">Qualquer pessoa pode criar Subgrupos neste
                        Grupo.</label>
                </div>
                <p align="right">
                    <button type="submit" class="btn btn-primary">Criar Grupo</button>
                </p>
            </form>
            <script>
                function validar() {
                    checkCampo(nome);
                    checkCampo(nickname, usuarioFormato, "Apenas Letras Minusculas e Números.");
                    checkCampo(descricao);
                    checkCampo(tipo);
                }
                validar();

                cunfigurarUploadDeImagem(document.getElementById("imagem_file"));

                function criarGrupoNow() {
                    criarGrupo(function removidoCallback(jsonResponse) {
                        if(jsonResponse.sucess) {
                            setTimeout(function () {
                                openSubUrl();
                            }, 1500);
                        }
                    });
                }

            </script>
            <p align="left">
                <button onclick="openSubUrl()" class="btn btn-primary">Voltar</button>
            </p>
        </div>

    </div>
</div>



</body>
</html>