<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="editar">

    <div class="card" style="width:100%;">
        <div class="card-header text-center">Editar Grupo</div>
        <div class="card-body">


            <form onsubmit="editarGrupoNow();return false;" oninput="validar();">
                <input type="hidden" name="grupoId" id="hiddenField" th:value="${grupo.id}"/>
                <div class="mb-3">
                    <label for="nome" class="form-label">* Nome: </label>
                    <input type="text" class="form-control" id="nome" name="nome" th:value="${grupo.nome}">
                </div>
                <label for="nickname" class="form-label">* Nickname</label>
                <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3"
                  th:text="'https://universi.me'+${grupoSubDiretorio}+'/'"></span>
                    <input type="text" class="form-control" disabled id="nickname" aria-describedby="basic-addon3"
                           name="nickname" th:value="${grupo.nickname}">
                </div>
                <div class="mb-3">
                    <label for="nome" class="form-label">Imagem: </label>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="imagem_file">
                        <img th:src="${grupo.imagem==null?'https://i.imgur.com/SfAl1Vb.png':grupo.imagem}" class="img-thumbnail input-group-text text-center" alt="" id="imagemUp" name="imagemUp" style="width:150px;" for="imagem_file"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="descricao" class="form-label">* Descricao: </label>
                    <textarea type="text" class="form-control" id="descricao" name="descricao"
                              th:text="${grupo.descricao}"></textarea>
                </div>
                <div class="mb-3">
                    <label for="tipo" class="form-label">* Tipo: </label>
                    <select id="tipo" name="tipo" class="form-select">
                        <option th:each="tipoNow : ${tiposGrupo}" th:value="${tipoNow}" th:text="${tipoNow.label}"
                                th:selected="${tipoNow} == ${grupo.tipo} ? true : false"></option>
                    </select>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="podeCriarGrupo"
                           name="podeCriarGrupo"
                           th:checked="${grupo.podeCriarGrupo} ? true : false">
                    <label class="form-check-label" for="podeCriarGrupo">Qualquer pessoa pode criar subgrupos neste
                        grupo.</label>
                </div>
                <p align="right">
                    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                </p>
            </form>
            <script>
                function validar() {
                    checkCampo(nome);
                    checkCampo(nickname, usuarioFormato, "Apenas Letras Minusculas e Números.");
                    checkCampo(descricao);
                    checkCampo(tipo);
                }
                validar();

                cunfigurarUploadDeImagem(document.getElementById("imagem_file"));

                function editarGrupoNow() {
                    editarGrupo(function removidoCallback(jsonResponse) {
                        if(jsonResponse.sucess) {
                            setTimeout(function () {
                                location.reload();
                            }, 1500);
                        }
                    });
                }

            </script>
            <p align="left">
                <button onclick="openSubUrl()" class="btn btn-primary">Voltar</button>
            </p>
        </div>
    </div>
</div>


</body>
</html>