<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="editar">

    <!-- Crop Image Start -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/compressorjs/1.1.1/compressor.min.js"></script>
    <style>
        #imageCrop {
            display: block;
            max-width: 100%;
        }
    </style>
    <!-- Crop Image End -->

    <div class="card" style="width:100%;" th:with="nomeGrupo=${(flagGrupoMaster != null) ?'Grupo':'Subgrupo'}">

        <div class="card-header text-center" th:text="${(flagPage=='flagEditar')?'Editar':'Criar'} + ' ' + ${nomeGrupo}">Editar/Criar Grupo</div>
        <div class="card-body" th:with="isGrupoMaster = ${(flagGrupoMaster != null)}">

            <form onsubmit="sendFormNow(this.id);return false;" oninput="validar();" th:id="${flagPage}">
                <input type="hidden" name="grupoId" id="hiddenField" th:value="${grupo.id}" th:unless="${grupo==null}"/>
                <div class="mb-3">
                    <label for="nome" class="form-label">* Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" th:value="${(flagPage=='flagCriar')?'':grupo.nome}">
                </div>
                <label for="nickname" class="form-label">* Nickname</label>
                <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3"
                  th:text="'https://universi.me'+${(flagPage=='flagCriar')?grupoDiretorio==null?'':grupoDiretorio:grupoSubDiretorio==null?'':grupoSubDiretorio}+'/'"></span>
                    <input type="text" class="form-control" th:disabled="${(flagPage!='flagCriar')} ? true : false" id="nickname" aria-describedby="basic-addon3"
                           name="nickname" th:value="${(flagPage=='flagCriar')?'':grupo.nickname}">
                </div>
                <div class="mb-3">
                    <label for="nome" class="form-label">Imagem</label>
                    <input type="hidden" name="imagemUrl" id="imagemUrl"/>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="imagem_file">
                        <img th:src="${((flagPage=='flagCriar') || grupo.imagem==null)?'https://i.imgur.com/SfAl1Vb.png':grupo.imagem}" class="img-thumbnail input-group-text text-center" alt="" id="imagemUp" name="imagemUp" style="width:150px;" for="imagem_file" referrerpolicy="no-referrer"/>
                    </div>
                </div>

                <div class="modal fade" id="cropModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalCenterTitle">Ajustar Imagem</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
                            </div>
                            <div class="modal-body">
                                <div class="boxCortar">
                                    <div class="img-thumbnail">
                                        <div class="result" style="width:100%;max-height:500px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary cortarBt">Selecionar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="descricao" class="form-label">* Descricao</label>
                    <textarea type="text" class="form-control" id="descricao" name="descricao"
                              th:text="${(flagPage=='flagCriar')?'':grupo.descricao}"></textarea>
                </div>
                <div class="mb-3">
                    <label for="tipo" class="form-label">* Tipo</label>
                    <select id="tipo" name="tipo" class="form-select" value="">
                        <option value="" selected disabled hidden>Selecionar...</option>
                        <option th:each="tipoNow : ${tiposGrupo}" th:value="${tipoNow}" th:text="${tipoNow.label}"
                                th:selected="${flagPage!='flagCriar' && tipoNow==grupo.tipo} ? true : false"></option>
                    </select>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="podeCriarGrupo"
                           name="podeCriarGrupo"
                           th:checked="${flagPage!='flagCriar' && grupo.podeCriarGrupo} ? true : false">
                    <label class="form-check-label" for="podeCriarGrupo">Qualquer pessoa pode criar Subgrupos neste
                        grupo.</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="podeEntrar"
                           name="podeEntrar"
                           th:checked="${flagPage!='flagCriar' && grupo.podeEntrar} ? true : false">
                    <label class="form-check-label" for="podeEntrar">Permitir entrada de participantes neste
                        grupo.</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="grupoPublico"
                           name="grupoPublico"
                           th:checked="${flagPage!='flagCriar' && grupo.grupoPublico} ? true : false">
                    <label class="form-check-label" for="grupoPublico">Grupo Público (Visível para Todos na página de Grupos)</label>
                </div>
                <div class="form-check form-switch " th:unless="${!isGrupoMaster}">
                    <input class="form-check-input" type="checkbox" role="switch" id="grupoRoot"
                           name="grupoRoot" checked hidden>
                    <input class="form-check-input" type="checkbox" role="switch" id="grupoRoot1"
                           name="grupoRoot1" checked disabled>
                    <label class="form-check-label" for="grupoRoot1">Grupo Master (Pai de todos os Subgrupos)</label>
                </div>
                <p align="right">
                    <button type="submit" class="btn btn-primary bi bi-database-fill-check" th:text="${(flagPage=='flagEditar')?' Salvar Alterações':(' Criar '+ nomeGrupo)}">Salvar</button>
                </p>
            </form>
            <script>
                function validar() {
                    checkCampo(nome);
                    checkCampo(nickname, usuarioFormato, "Apenas Letras Minusculas e Números.");
                    checkCampo(descricao);
                    checkCampo(tipo);
                }
                validar();

                configurarUploadDeImagemComCrop();

                function sendFormNow(formId) {

                    var pathUrl = '/grupo/criar';
                    if(formId == 'flagEditar') {
                        pathUrl = '/grupo/editar';
                    }

                    sendForm(formId, pathUrl, function respostaCallback(jsonResponse) {
                        if(jsonResponse.sucess) {
                            setTimeout(function () {
                                if(formId == 'flagEditar') {
                                    location.reload();
                                } else {
                                    openSubUrl();
                                }
                            }, tempoDelayParaRedirecionar);
                        }
                    });
                }

            </script>

        </div>

        <div class="card-body" style="padding-bottom:0px">
            <p align="left">
                <button onclick="openSubUrl()" class="btn btn-primary">Voltar</button>
            </p>
        </div>

    </div>
</div>


</body>
</html>