<!DOCTYPE html>
<html lang="en">

<head th:include="index :: head(title=~{::title/text()})">
    <title>Grupo</title>
</head>

<body>
<div class="container px-3 mx-auto">
    <div th:replace="elementos/navbar :: navbar"></div>
    <div id="areaDeAlertas" style="max-width:700px;margin: 0 auto;"></div>
    <h2 th:text="${error}" th:unless="${error == null}">Menssagem de error.</h2>


    <div style="max-width=80%;margin: 0 auto;" th:unless="${error != null}">

        <p><h4 th:unless="${grupo == null}" th:text="${grupo.grupoRoot?'Grupo':'Subgrupo'} + ': ' + ${grupo.nome}"
               style="text-align: center;">Grupo</h4></p>


        <div class="container">

            <div class="row gutters">

                <div class="col" style="width:20%;max-width:210px;min-width:150px;padding-right: 10px;">
                    <div class="card" style="width: 100%;">
                        <img th:src="${grupo.imagem==null?'https://i.imgur.com/SfAl1Vb.png':grupo.imagem}"
                             class="card-img-top" alt="Grupo" referrerpolicy="no-referrer">
                        <div class="card-body">
                            <h5 class="card-title text-center" th:text="${grupo.nome}">Nome do Grupo</h5>

                            <div class="text-center" th:unless="${grupo == null}">
                                <div th:with="isParticipante = ${@grupoService.obterParticipanteNoGrupo(grupo, session.usuario.perfil.id)}">
                                    <div th:unless="${!grupo.podeEntrar}" th:if="${isParticipante == null}">
                                        <br/>
                                        <ul class="list-group">
                                            <button class="list-group-item bi bi-box-arrow-in-right"
                                                    onclick="entrarNoGrupoNow(this.id)" style="color: #29C100;"
                                                    th:id="${grupo.getId()}"> Entrar
                                            </button>
                                        </ul>
                                    </div>
                                    <div th:if="${isParticipante != null}">
                                        <br/>
                                        <ul class="list-group">
                                            <button class="list-group-item bi bi-box-arrow-left"
                                                    onclick="sairNoGrupoNow(this.id)" style="color: #FF0400;"
                                                    th:id="${grupo.getId()}"> Sair
                                            </button>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header card-footer text-center">Descrição</div>
                        <div class="card-body">
                            <p class="card-text" th:text="${grupo.descricao}">Descrição do Grupo</p>
                        </div>
                        <div class="card-header card-footer text-center">Tipo</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p class="card-text" th:text="${grupo.tipo.label}">Tipo</p>
                            </li>
                        </ul>
                        <div class="card-header card-footer text-center">Administrador</div>
                        <div class="card-body">
                            <span th:with="participantePerfil = ${grupo.admin}">
                                <span th:replace="perfil/nome :: nome"></span>
                            </span>
                        </div>
                        <a class="card-footer text-center bi bi-pencil-square"
                           th:unless="${#strings.endsWith(#httpServletRequest.requestURI, '/editar') || !grupoService.temPermissaoParaGrupo(grupo, session.usuario)}"
                           th:href="${grupoDiretorio} + '/editar'"
                           style="background-color:#B4FFC2;text-decoration: none;"> Editar Grupo
                        </a>
                    </div>
                </div>


                <div class="col" style="width:60%;">

                    <div th:switch="${flagPage==null?'info':flagPage}">
                        <div th:case="'flagEditar'">
                            <div th:replace="grupo/editar :: editar"/>
                        </div>
                        <div th:case="'flagCriar'">
                            <div th:replace="grupo/editar :: editar"/>
                        </div>
                        <div th:case="'flagParticipantesListar'">
                            <div th:replace="grupo/participantes :: participantes"/>
                        </div>
                        <div th:case="'flagGruposListar'">
                            <div th:replace="grupo/grupos :: grupos"/>
                        </div>
                        <div th:case="'info'">
                            <div th:replace="grupo/info :: info"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <script>
    function entrarNoGrupoNow(grupoId) {
        entrarNoGrupo(grupoId, function addCallback(jsonResponse) {
            if(jsonResponse.sucess) {
                setTimeout(function () {
                    location.reload();
                }, tempoDelayParaRedirecionar);
            }
        });
    }
    function sairNoGrupoNow(grupoId) {
        sairNoGrupo(grupoId, function addCallback(jsonResponse) {
            if(jsonResponse.sucess) {
                setTimeout(function () {
                    location.reload();
                }, tempoDelayParaRedirecionar);
            }
        });
    }


    </script>

</div>

</div>

</div>

<div th:replace="elementos/footer :: footer"></div>
</div>
</body>
</html>