<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="info">

    <div class="card" style="width:100%;">
        <div class="card-header text-center">Participantes <span
                th:unless="${grupo == null || grupo.participantes.empty}"
                th:text="'(' +${grupo.participantes.size()}+ ')'">(0)</span></div>
        <div class="card-body">
            <div class="row">
                <h6 th:if="${grupo.participantes.empty}"> Sem Participantes </h6>

                <div th:with="listaParticipantes = ${grupo.participantes}">
                    <div th:replace="elementos/listagens/participante :: participante"></div>
                </div>

            </div>
        </div>
        <a th:unless="${!grupoService.temPermissaoParaGrupo(grupo, session.user)}" class="card-footer text-center bi bi-person-gear"
           th:href="${grupoDiretorio} + '/participantes'"
           style="background-color:#B4FFC2;text-decoration: none;"> Gerenciar
            Participantes
        </a>
    </div>
    <p/>
    <div class="card" style="width:100%;">
        <div class="card-header text-center">Subgrupos <span th:unless="${grupo == null || grupo.subGrupos.empty}"
                                                             th:text="'(' +${grupo.subGrupos.size()}+ ')'">(0)</span>
        </div>
        <div class="card-body">
            <div class="row">
                <h6 th:if="${grupo.subGrupos.empty}"> Sem Subgrupos </h6>

                <div th:with="listaGrupo = ${grupo.subGrupos}">
                    <div th:replace="elementos/listagens/grupo :: grupo"></div>
                </div>

            </div>
        </div>
        <a th:unless="${(!grupo.podeCriarGrupo && (!grupoService.temPermissaoParaGrupo(grupo, session.user)))}"
           class="card-footer text-center bi bi-people-fill" th:href="${grupoDiretorio} + '/grupos'"
           style="background-color:#B4FFC2;text-decoration: none;"> Gerenciar Subgrupos
        </a>
    </div>
</div>


</body>
</html>