<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="participantes">

    <div class="card" style="width:100%;">
        <div class="card-header text-center">Gerenciar Participantes</div>
        <div class="card-body">

            <div class="input-group mb-3" style="max-width:400px;margin: 0 auto;">
                <input type="text" class="form-control" placeholder="Nome / Usuário / E-mail" aria-label="Nome / Usuário / E-mail"
                       aria-describedby="addParticipanteBt" id="addParticipante" name="addParticipante">
                <button class="btn btn-outline-primary" type="button" id="addParticipanteBt"
                        th:attr="onclick=|adicionarParticipante('${grupo.getId()}');|">Adicionar
                </button>
            </div>
        </div>

        <div class="card-header card-footer text-center">Todos os Participantes <span th:unless="${grupo == null || grupo.participantes.empty}" th:text="'(' + ${grupo.participantes.size()} + ')'">(0)</span></div>
        <div class="card-body">
            <div class="row">
                <h6 th:if="${grupo.participantes.empty}"> Sem Participantes </h6>


                <div th:with="listaParticipantes = ${grupo.participantes}">
                    <div th:with="modoEditar = true">
                        <div th:replace="elementos/listagens/participante :: participante"></div>
                    </div>
                </div>


            </div>

            <script>
                checkCampo(document.querySelector('#addParticipante'));

                configurarAutoCompInputId("addParticipante", function clicked(ui) {
                    if(ui.item && ui.item.id) {
                        document.querySelector('#addParticipante').userid = ui.item.id;
                        $("#addParticipanteBt").click();
                    }
                }, ['usuario']);

                function removerParticipante(grupoId, participante) {
                    removerParticipanteDoGrupo(grupoId, participante, function removidoCallback(jsonResponse) {
                        if(jsonResponse.sucess) {
                            setTimeout(function () {
                                location.reload();
                            }, tempoDelayParaRedirecionar);
                        }
                    });
                }
                function adicionarParticipante(grupoId) {
                    var inputAddParticipante = document.querySelector('#addParticipante');
                    if(checkCampo(inputAddParticipante)) {
                        var participante = inputAddParticipante.userid!=null? inputAddParticipante.userid : inputAddParticipante.value;
                        inputAddParticipante.userid = null;
                        adicionarParticipanteAoGrupo(grupoId, participante, function addCallback(jsonResponse) {
                            if(jsonResponse.sucess) {
                                setTimeout(function () {
                                    location.reload();
                                }, tempoDelayParaRedirecionar);
                            }
                        });
                    }
                }
            </script>

        </div>

        <div class="card-body" style="padding-bottom:0px">
            <p align="left">
                <button onclick="openSubUrl()" class="btn btn-primary">Voltar</button>
            </p>
        </div>

    </div>
</div>


</body>
</html>