<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="participantes">

    <div class="card" style="width:100%;">
        <div class="card-header text-center">Gerenciar Participantes</div>
        <div class="card-body">

            <div class="input-group mb-3" style="max-width:400px;margin: 0 auto;">
                <input type="text" class="form-control" placeholder="Usuário / E-mail" aria-label="Usuário / E-mail"
                       aria-describedby="addParticipanteBt" id="addParticipante" name="addParticipante">
                <button class="btn btn-outline-primary" type="button" id="addParticipanteBt"
                        th:attr="onclick=|adicionarParticipante('${grupo.getId()}');|">Adicionar
                </button>
            </div>
        </div>

        <div class="card-header card-footer text-center">Todos os Participantes <span th:unless="${grupo == null || grupo.participantes.empty}" th:text="'(' + ${grupo.participantes.size()} + ')'">(0)</span></div>
        <div class="card-body">
            <div class="row">
                <h6 th:if="${grupo.participantes.empty}"> Sem Participantes </h6>
                <div class="col-sm-3" th:each="participanteNow : ${grupo.participantes}" style="padding-bottom: 30px;">
                    <div class="card" style="width: 10rem;">
                        <img th:src="${participanteNow.imagem==null?'https://i.imgur.com/vUBrCxr.png':participanteNow.imagem}" class="card-img-top" alt="..." referrerpolicy="no-referrer">
                        <div class="card-body">
                            <h6 class="card-title text-center"><span th:text="${participanteNow.getNome()==null?participanteNow.usuario.getUsername():participanteNow.getNome()}">Nome do participante</span><span th:unless="${participanteNow.getNome()==null || participanteNow.usuario.isEmail_verificado() == false}">   <img src="https://i.imgur.com/w3aKauq.png" width="22" /></span></h6>
                        </div>
                        <ul class="list-group list-group-flush" style="text-align: center;">
                            <li class="list-group-item">
                                <a th:href="@{/p/{path}(path=${participanteNow.usuario.getUsername()})}"
                                   class="btn btn-primary">Ver Perfil</a>
                            </li>
                            <li class="list-group-item">
                                <button th:attr="onclick=|removerParticipante('${grupo.getId()}','${participanteNow.usuario.getUsername()}');|"
                                        href="#" class="btn btn-danger">Remover
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <script>
                checkCampo(document.querySelector('#addParticipante'));

                function removerParticipante(grupoId, participante) {
                    removerParticipanteDoGrupo(grupoId, participante, function removidoCallback(jsonResponse) {
                        if(jsonResponse.sucess) {
                            setTimeout(function () {
                                location.reload();
                            }, 1500);
                        }
                    });
                }
                function adicionarParticipante(grupoId) {
                    if(checkCampo(document.querySelector('#addParticipante'))) {
                        var participante = document.querySelector('#addParticipante').value;
                        adicionarParticipanteAoGrupo(grupoId, participante, function addCallback(jsonResponse) {
                            if(jsonResponse.sucess) {
                                setTimeout(function () {
                                    location.reload();
                                }, 1500);
                            }
                        });
                    }
                }
            </script>
            <p align="left">
                <br/>
                <button onclick="openSubUrl()" class="btn btn-primary">Voltar</button>
            </p>

        </div>
    </div>
</div>


</body>
</html>