<!DOCTYPE html>
<html lang="en">

<head th:include="index :: head(title=~{::title/text()})">
    <title>Grupos Públicos</title>
</head>

<body>
<div class="container px-3 mx-auto">
    <div th:replace="elementos/navbar :: navbar"></div>
    <div id="areaDeAlertas" style="max-width:700px;margin: 0 auto;"></div>
    <h2 th:text="${error}" th:unless="${error == null}">Menssagem de error.</h2>


    <div style="max-width=80%;margin: 0 auto;" th:unless="${error != null}">

        <div class="container">

            <div class="row gutters">


                <div class="col" style="width:60%;">

                    <div class="card" style="width:100%;" th:with="gruposPublicos=${grupoService.findByGrupoPublico(true)}">
                        <div class="card-header text-center">Grupos Públicos <span th:unless="${gruposPublicos == null || gruposPublicos.empty}"
                                                                             th:text="'(' +${gruposPublicos.size()}+ ')'">(0)</span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <h6 th:if="${gruposPublicos.empty}"> Sem Grupos </h6>

                                <div th:with="listaGrupo = ${gruposPublicos}">
                                    <div th:replace="elementos/listagens/grupo :: grupo"></div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
				
				
            </div>
        </div>

    </div>

</div>

</div>

</div>

<div th:replace="elementos/footer :: footer"></div>
</div>
</body>
</html>