<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
    <title th:text="${grupo.nome}+': Remover Participante'" th:unless="${grupo == null}">Adicionar Participante</title>
    <title th:unless="${grupo != null}">Universi.me</title>
</head>

<body>
<div class="container py-4 px-3 mx-auto">
    <div th:replace="elementos/navbar :: navbar"></div>

    <div id="areaDeAlertas" style="max-width:700px;margin: 0 auto;"></div>

    <div style="max-width:800px;margin: 0 auto;">
        <p th:text="'Remover Participante em: ' + ${grupo.nome}" th:unless="${grupo == null}"
           style="text-align: center;">[...]</p>
        <form onsubmit="removerParticipante();return false;" oninput="validar();">
            <input type="hidden" name="grupoId" id="hiddenField" th:value="${grupo.id}"/>
            <div class="mb-3">
                <label for="participante" class="form-label">* Usuário/Email: </label>
                <input type="text" class="form-control" id="participante" name="participante">
            </div>
            <p align="right">
                <button type="submit" class="btn btn-primary">Remover Participante</button>
            </p>
        </form>
        <script>
            function validar() {
               checkCampo(participante);
            }
            validar();

            function removerParticipante() {
               var grupoId = document.querySelector('[name="grupoId"]').value;
               var participante = document.querySelector('#participante').value;
               removerParticipanteDoGrupo(grupoId, participante);
            }
        </script>
        <p align="left">
            <button onclick="openSubUrl()" class="btn btn-primary">Voltar</button>
        </p>
    </div>

    <div th:replace="elementos/footer :: footer"></div>
</div>
</body>
</html>