<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
    <title>Área Administrativa - Universi.me</title>
</head>
<body>
<div class="container py-4 px-3 mx-auto">
    <div th:replace="elementos/navbar :: navbar"></div>
    <div id="areaDeAlertas" style="max-width:700px;margin: 0 auto;"></div>
    <h2 th:text="${error}" th:unless="${error == null}">Menssagem de error.</h2>


    <div style="max-width=80%;margin: 0 auto;" th:unless="${error != null}">

        <p><h4 style="text-align: center;">Área Administrativa</h4></p>


        <div class="container">

            <div class="row gutters">

                <div class="col" style="width:20%;max-width:210px;min-width:150px;padding-right: 10px;">
                    <div class="card" style="width: 100%;">
                        <div class="card-header text-center">Menu</div>
                        <div class="card-body">
                            <a href="/admin"><p class="card-text">Painel</p></a>
                        </div>
                    </div>
                </div>


                <div class="col" style="width:60%;">

                    <div th:if="${#strings.endsWith(#httpServletRequest.requestURI, '/editar')}">
                        <div th:replace="usuario/admin/editar_usuario :: editar" />
                    </div>

                    <div th:unless="${#strings.endsWith(#httpServletRequest.requestURI, '/editar')}">
                        <div th:replace="usuario/admin/info :: info" />
                    </div>

                </div>
            </div>
        </div>

    </div>

    <br/><br/>

    <p align="left">
        <br/>
        <button onclick="javascript:window.history.back();" class="btn btn-primary">Voltar</button>
    </p>

</div>

</div>

</div>

<div th:replace="elementos/footer :: footer"></div>
</div>
</body>
</html>