<!DOCTYPE html>
<html lang="en">

<head th:include="index :: head(title=~{::title/text()})">
    <title>Área Administrativa</title>
</head>

<body>
<div class="container px-3 mx-auto">
    <div th:replace="elementos/navbar :: navbar"></div>
    <div id="areaDeAlertas" style="max-width:700px;margin: 0 auto;"></div>
    <h2 th:text="${error}" th:unless="${error == null}">Menssagem de error.</h2>


    <div style="max-width=80%;margin: 0 auto;" th:unless="${error != null}">

        <p><h4 style="text-align: center;">Área Administrativa</h4></p>


        <div class="container">

            <div class="row gutters">

                <div class="col" style="width:20%;max-width:210px;min-width:150px;padding-right: 10px;">
                    <div class="card" style="width: 100%;">
                        <div class="card-header text-center">Menu</div>
                        <div class="card-body">
                            <a href="/admin"><p class="card-text">Painel</p></a>
                        </div>
                    </div>
                </div>


                <div class="col" style="width:60%;">

                    <div th:if="${#strings.endsWith(#httpServletRequest.requestURI, '/editar')}">
                        <div th:replace="usuario/admin/editar_usuario :: editar" />
                    </div>

                    <div th:unless="${#strings.endsWith(#httpServletRequest.requestURI, '/editar')}">
                        <div th:replace="usuario/admin/info :: info" />
                    </div>

                </div>
            </div>
        </div>

    </div>

    <br/><br/>

    <p align="left">
        <br/>
        <button onclick="javascript:window.history.back();" class="btn btn-primary">Voltar</button>
    </p>

</div>

</div>

</div>

<div th:replace="elementos/footer :: footer"></div>
</div>
</body>
</html>