<!DOCTYPE html>
<html lang="en">

<head th:include="index :: head(title=~{::title/text()})">
    <title>Área Administrativa</title>
</head>

<body>
<div class="container px-3 mx-auto">
    <div th:replace="elementos/navbar :: navbar"></div>
    <div id="areaDeAlertas" style="max-width:700px;margin: 0 auto;"></div>
    <h2 th:text="${error}" th:unless="${error == null}">Menssagem de error.</h2>


    <div style="max-width=80%;margin: 0 auto;" th:unless="${error != null}">

        <p><h4 style="text-align: center;">Área Administrativa</h4></p>


        <div class="container">

            <div class="row gutters">

                <div class="col" style="width:20%;max-width:210px;min-width:150px;padding-right: 10px;">
                    <div class="card" style="width: 100%;">
                        <div class="card-header text-center">Menu</div>
                        <ul class="list-group list-group-flush">
                            <a class="list-group-item" href="/admin">Painel</a>
                            <a class="list-group-item" href="/admin/grupo">Criar Grupo Master</a>
                            <a class="list-group-item" href="/admin/conta">Gerenciar Conta</a>
                            <a class="list-group-item" href="/admin/competencia">Gerenciar Competências</a>
                        </ul>
                    </div>
                </div>


                <div class="col" style="width:60%;">

                    <div th:if="${#strings.equals(@usuarioService.obterUrlAtual(), '/admin')}">
                        <div th:replace="user/admin/info :: info" />
                    </div>

                    <div th:if="${#strings.startsWith(@usuarioService.obterUrlAtual(), '/admin/conta')}">
                        <div th:replace="user/admin/editar_usuario :: editar" />
                    </div>

                    <div th:if="${#strings.startsWith(@usuarioService.obterUrlAtual(), '/admin/competencia')}">
                        <div th:replace="user/admin/competenciaTipo :: competenciaTipo" />
                    </div>

                    <div th:if="${#strings.startsWith(@usuarioService.obterUrlAtual(), '/admin/grupo')}" th:with="flagPage=${'flagCriar'}">
                        <div th:with="flagGrupoMaster = true">
                            <div th:replace="grupo/editar :: editar" />
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<script>
        function openEditAccountLink() {
            var user = document.querySelector('#gerenciarConta').value;
            if(user) {
                window.location.href = "/admin/conta/" + user + "/editar";
            }
        }
        configurarAutoCompInputId("gerenciarConta", function clicked(ui) {
            if(ui.item && ui.item.id) {
                window.location.href = "/admin/conta/" + ui.item.id + "/editar";
            }
        }, ['user']);
</script>

</div>

</div>

<div th:replace="elementos/footer :: footer"></div>
</div>
</body>
</html>