<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="competenciaTipo">

    <div class="card" style="width:100%;">

        <div class="card-header text-center">Gerenciar Competências</div>
        <div class="card-body">
            <div class="input-group mb-3 text-center" style="width:150px;margin: 0 auto;" id="botaoCriar">
                <button onclick="mostrarForm(true);" class="btn btn-outline-primary text-center" type="button" id="addParticipanteBt">Criar Competência
                    </button>
            </div>

            <form onsubmit="criarCompetencia(this.id);return false;" oninput="validar();" id="formCriar" hidden>
                <input type="hidden" name="competenciatipoId" id="competenciatipoId" value=""/>
                <div class="mb-3">
                    <label for="nome" class="form-label">* Nome da Competência</label>
                    <input type="text" class="form-control" id="nome" name="nome" value="">
                </div>
                <p align="right">
                    <button type="submit" id="formBt" class="btn btn-primary bi bi-database-fill-check"> Criar Competência</button>
                </p>
            </form>

        </div>

        <div class="card-header card-footer text-center">Editar Competências
            <span th:unless="${competenciaTipoService.findAll() == null || competenciaTipoService.findAll().empty}"
                  th:text="'(' +${competenciaTipoService.findAll().size()}+ ')'">
                (0)
            </span>

        </div>
        <div class="card-body" style="padding-bottom:0px">
            <div class="row">
                <h6 th:if="${competenciaTipoService.findAll().empty}"> Sem Competências </h6>

                <div th:with="listaCompetenciaTipo = ${competenciaTipoService.findAll()}">
                    <div th:with="modoEditar = true">
                        <div th:replace="elementos/listagens/competenciaTipo :: competenciaTipo"></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="card-body" style="padding-bottom:0px">
            <p align="left">
                <button onclick="openSubUrl()" class="btn btn-primary">Voltar</button>
            </p>
        </div>

    </div>

    <script>
        function validar() {
            checkCampo(nome);
        }
        validar();
        function mostrarForm(modoCriar) {
            document.getElementById('formCriar').hidden = false;
            document.getElementById('botaoCriar').hidden = modoCriar ? true : false;
            document.getElementById('formBt').textContent = modoCriar ? 'Criar Competência' : 'Editar Comptetência';
            document.getElementById('competenciatipoId').value = null;
            document.getElementById('nome').value = null;
        }
        function criarCompetencia(formId) {
            sendForm(formId, (document.getElementById('competenciatipoId').value)? '/admin/competenciatipo/atualizar' : '/admin/competenciatipo/criar', function editarCallback(jsonResponse) {
                if(jsonResponse.sucess) {
                    setTimeout(function () {
                        window.location.reload();
                    }, tempoDelayParaRedirecionar);
                }
            });
        }
        function removerCompetenciaNow(idCompetencia) {
            var bodyValores = {
                competenciatipoId: idCompetencia,
            }
            api_request('/admin/competenciatipo/remover', bodyValores, function removerCallback(jsonResponse) {
                if(jsonResponse.sucess) {
                    setTimeout(function () {
                        window.location.reload();
                    }, tempoDelayParaRedirecionar);
                }
            });
        }
        function editarCompetenciaNow(idCompetencia) {
            var bodyValores = {
                competenciatipoId: idCompetencia,
            }
            api_request('/admin/competenciatipo/obter', bodyValores, function obterCallback(jsonResponse) {
                if(jsonResponse.sucess) {
                    var competenciaDic = jsonResponse.conteudo.competenciaTipo;
                    mostrarForm(false);
                    document.getElementById('competenciatipoId').value = competenciaDic.id;
                    document.getElementById('nome').value = competenciaDic.nome;
                    validar();
                }
            });
        }
    </script>

</div>


</body>
</html>