<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="info">

    <div class="card" style="width:100%;">
        <div class="card-header text-center">Gerenciar Conta de Usuário</div>
        <div class="card-body">
            <div class="row">

                <div class="input-group mb-3" style="max-width:400px;margin: 0 auto;">
                    <input type="text" class="form-control" placeholder="Usuário / E-mail" aria-label="Usuário / E-mail"
                           aria-describedby="gerenciarContaBt" id="gerenciarConta" name="gerenciarConta">
                    <button class="btn btn-outline-primary" type="button" id="gerenciarContaBt"
                            onclick="openEditAccountLink()">Gerenciar Conta
                    </button>
                </div>

            </div>
        </div>
    </div>
    <p/>
    <div class="card" style="width:100%;">
        <div class="card-header text-center">Criar Grupo Master</div>
        <div class="card-body">
            <div class="text-center" style="margin: 0 auto;">

                    <a class="btn btn-outline-primary" type="button" id="criarBt"
                            href="/admin/grupo">Criar Grupo
                    </a>

            </div>
        </div>
    </div>


</div>




</body>
</html>