<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="editar">

    <div class="card" style="width:100%;">
        <div class="card-header text-center">Editar Meu Perfil</div>
        <div class="card-body">


            <form onsubmit="editarPerfilNow();return false;" oninput="validar();">
                <input type="hidden" name="perfilId" id="hiddenField" th:value="${perfil.getId()}"/>
                <div class="mb-3">
                    <label for="nome" class="form-label">* Nome: </label>
                    <input type="text" class="form-control" id="nome" name="nome" th:value="${perfil.nome}">
                </div>
                <div class="mb-3">
                    <label for="sobrenome" class="form-label">* Sobrenome: </label>
                    <input type="text" class="form-control" id="sobrenome" name="sobrenome" th:value="${perfil.sobrenome}">
                </div>
                <div class="mb-3">
                    <label for="nome" class="form-label">Imagem: </label>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="imagem_file">
                        <img th:src="${perfil.imagem==null?'https://i.imgur.com/vUBrCxr.png':perfil.imagem}" class="img-thumbnail input-group-text text-center" alt="" id="imagemUp" name="imagemUp" style="width:150px;" for="imagem_file"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="bio" class="form-label">* Bio: </label>
                    <textarea type="text" class="form-control" id="bio" name="bio"
                              th:text="${perfil.getBio()}"></textarea>
                </div>
                <div class="mb-3">
                    <label for="sexo" class="form-label">* Sexo: </label>
                    <select id="sexo" name="sexo" class="form-select">
                        <option th:each="tipoNow : ${sexoTipo}" th:value="${tipoNow}" th:text="${tipoNow.label}"
                                th:selected="${tipoNow} == ${perfil.getSexo()} ? true : false"></option>
                    </select>
                </div>
                <p align="right">
                    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                </p>
            </form>
            <script>
                function validar() {
                    checkCampo(nome);
                    checkCampo(sobrenome);
                    checkCampo(bio);
                }
                validar();

                cunfigurarUploadDeImagem(document.getElementById("imagem_file"));

                function editarPerfilNow() {
                    editarPerfil(function editarCallback(jsonResponse) {
                        if(jsonResponse.sucess) {
                            setTimeout(function () {
                                openSubUrl();
                            }, 1500);
                        }
                    });
                }

            </script>
            <p align="left">
                <button onclick="openSubUrl()" class="btn btn-primary">Voltar</button>
            </p>
        </div>
    </div>
</div>


</body>
</html>