<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="editar">

    <!-- Crop Image Start -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>
    <style>
        #imageCrop {
            display: block;
            max-width: 100%;
        }
    </style>
    <!-- Crop Image End -->

    <div class="card" style="width:100%;">
        <div class="card-header text-center">Editar Meu Perfil</div>
        <div class="card-body">


            <form onsubmit="editarPerfilNow(this.id);return false;" oninput="validar();" id="formPerfilEditar">
                <input type="hidden" name="perfilId" id="hiddenField" th:value="${perfil.getId()}"/>
                <div class="mb-3">
                    <label for="nome" class="form-label">* Nome: </label>
                    <input type="text" class="form-control" id="nome" name="nome" th:value="${perfil.nome}">
                </div>
                <div class="mb-3">
                    <label for="sobrenome" class="form-label">* Sobrenome: </label>
                    <input type="text" class="form-control" id="sobrenome" name="sobrenome"
                           th:value="${perfil.sobrenome}">
                </div>
                <div class="mb-3">
                    <label for="nome" class="form-label">Imagem: </label>
                    <input type="hidden" name="imagemUrl" id="imagemUrl"/>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="imagem_file">
                        <img th:src="${perfil.imagem==null?'https://i.imgur.com/vUBrCxr.png':perfil.imagem}"
                             class="img-thumbnail input-group-text text-center" alt="" id="imagemUp" name="imagemUp"
                             style="width:150px;" for="imagem_file" referrerpolicy="no-referrer"/>
                    </div>

                </div>

                <div class="modal fade" id="cropModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalCenterTitle">Ajustar Imagem</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
                            </div>
                            <div class="modal-body">
                                <div class="boxCortar">
                                    <div class="img-thumbnail">
                                        <div class="result" style="width:100%;max-height:500px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary cortarBt">Selecionar</button>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="mb-3">
                    <label for="bio" class="form-label">* Bio: </label>
                    <textarea type="text" class="form-control" id="bio" name="bio"
                              th:text="${perfil.getBio()}"></textarea>
                </div>
                <div class="mb-3">
                    <label for="sexo" class="form-label">* Sexo: </label>
                    <select id="sexo" name="sexo" class="form-select" value="">
                        <option value="" selected disabled hidden>Selecionar...</option>
                        <option th:each="tipoNow : ${sexoTipo}" th:value="${tipoNow}" th:text="${tipoNow.label}"
                                th:selected="${tipoNow} == ${perfil.getSexo()} ? true : false"></option>
                    </select>
                </div>


                <p align="right">
                    <button type="submit" class="btn btn-primary bi bi-database-fill-check"> Salvar Alterações</button>
                </p>
            </form>
            <script>
                function validar() {
                    checkCampo(nome);
                    checkCampo(sobrenome);
                    checkCampo(bio);
                }
                validar();

                configurarUploadDeImagemComCrop();

                function editarPerfilNow(formId) {
                    sendForm(formId, '/perfil/editar', function editarCallback(jsonResponse) {
                        if(jsonResponse.sucess) {
                            setTimeout(function () {
                                openSubUrl();
                            }, tempoDelayParaRedirecionar);
                        }
                    });
                }

            </script>
        </div>

        <div class="card-body" style="padding-bottom:0px">
            <p align="left">
                <button onclick="openSubUrl()" class="btn btn-primary">Voltar</button>
            </p>
        </div>

    </div>
</div>


</body>
</html>