<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="info">

    <div class="card" style="width:100%;">
        <div class="card-header text-center">Minhas Recomendações Recebidas <span
                th:unless="${perfil == null || perfil.getRecomendacoesRecebidas().empty}"
                th:text="'(' +${perfil.getRecomendacoesRecebidas().size()}+ ')'">(0)</span></div>
        <div class="card-body">
            <div class="row">


                <h6 th:if="${perfil.getRecomendacoesRecebidas().empty}"> Sem Recomendações </h6>

                <div th:with="listaRecomendacoes = ${perfil.getRecomendacoesRecebidas()}">
                    <div th:replace="elementos/listagens/recomendacao :: recomendacao"></div>
                </div>


            </div>
        </div>
    </div>
    <p/>
    <div class="card" style="width:100%;">
        <div class="card-header text-center">Meus Grupos <span
                th:unless="${perfil.grupos == null || perfil.grupos.empty}"
                th:text="'(' +${perfil.grupos.size()}+ ')'">(0)</span>
        </div>
        <div class="card-body">
            <div class="row">
                <h6 th:if="${perfil.grupos.empty}"> Sem Grupos </h6>

                <div th:with="listaGrupo = ${perfil.grupos}">
                    <div th:replace="elementos/listagens/grupo :: grupo"></div>
                </div>

            </div>
        </div>
    </div>
    <p>
    <div class="card" style="width:100%;">
        <div class="card-header text-center">Minhas Competências
            <span th:unless="${perfil.getCompetencias() == null || perfil.getCompetencias().empty}"
                  th:text="'(' +${perfil.getCompetencias().size()}+ ')'">
                (0)
            </span>
        </div>
        <div class="card-body" style="padding-bottom:0px">
            <div class="row">
                <h6 th:if="${perfil.getCompetencias().empty}"> Sem Competências </h6>

                <div th:with="listaCompetencias = ${perfil.getCompetencias()}">
                    <div th:replace="elementos/listagens/competencias :: competencias"></div>
                </div>


            </div>
        </div>

        <!-- Start Editar competências -->
        <a th:unless="${!usuarioService.usuarioDonoDaSessao(perfil.usuario)}" class="card-footer text-center"
           style="background-color:#B4FFC2;
            text-decoration: none;
            cursor: pointer" th:href="'/p/' +${perfil.getUsuario().getUsername()} + '/competencias'">
            Gerenciar Minhas Competências
        </a>
        <!-- End Editar competências -->

    </div>
</div>


</body>
</html>