<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="info">

    <div class="card" style="width:100%;">
        <div class="card-header text-center">Minhas Recomendações Recebidas <span
                th:unless="${perfil == null || perfil.getRecomendacoesRecebidas().empty}"
                th:text="'(' +${perfil.getRecomendacoesRecebidas().size()}+ ')'">(0)</span></div>
        <div class="card-body">
            <div class="row">


                <h6 th:if="${perfil.getRecomendacoesRecebidas().empty}"> Sem Recomendações </h6>

                <div class="col-sm-2" th:unless="${perfil.getRecomendacoesRecebidas().empty}"
                     th:each="i : ${#numbers.sequence(perfil.getRecomendacoesRecebidas().size() - 1, perfil.getRecomendacoesRecebidas().size()>=6?perfil.getRecomendacoesRecebidas().size() - 6:0, -1)}"
                     th:with="recomendacaoNow=${perfil.getRecomendacoesRecebidas()[i]}"
                     style="padding-bottom: 30px;">
                    <div class="card" style="width:100%;min-width:70px;max-width:100px;">
                        <img th:src="${(recomendacaoNow.origem==null || recomendacaoNow.origem.imagem==null)?'https://i.imgur.com/vUBrCxr.png':recomendacaoNow.origem.imagem}" class="card-img-top" alt="Perfil" referrerpolicy="no-referrer">
                        <div class="card-body">
                            <h6 class="card-title text-center"><span th:text="${recomendacaoNow.origem.getNome()==null?recomendacaoNow.origem.usuario.getUsername():recomendacaoNow.origem.getNome()}">Nome do participante</span><span th:unless="${recomendacaoNow.origem.getNome()==null || recomendacaoNow.origem.usuario.isEmail_verificado() == false}">   <img src="https://i.imgur.com/w3aKauq.png" width="22" /></span></h6>
                        </div>
                        <ul class="list-group list-group-flush" style="text-align: center;">
                            <li class="list-group-item" th:unless="${recomendacaoNow.competenciaTipo==null}">
                                <p>Recomendou pela competência: <b th:text="${recomendacaoNow.competenciaTipo.nome}"></b></p>
                            </li>
                            <li class="list-group-item">
                                <p class="card-text" th:text="${recomendacaoNow.getDescricao()}">Descrição da Recomendação</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p/>
    <div class="card" style="width:100%;">
        <div class="card-header text-center">Meus Grupos <span th:unless="${perfil.grupos == null || perfil.grupos.empty}"
                                                             th:text="'(' +${perfil.grupos.size()}+ ')'">(0)</span>
        </div>
        <div class="card-body">
            <div class="row">
                <h6 th:if="${perfil.grupos.empty}"> Sem Grupos </h6>
                <div class="col-sm-3" th:unless="${perfil.grupos.empty}"
                     th:each="i : ${#numbers.sequence(perfil.grupos.size() - 1, perfil.grupos.size()>=6?perfil.grupos.size() - 6:0, -1)}"
                     th:with="grupoNow=${perfil.grupos[i]}"
                     style="padding-bottom: 30px;">
                    <div class="card" style="width:90%;">
                        <img th:src="${grupoNow.imagem==null?'https://i.imgur.com/SfAl1Vb.png':grupoNow.imagem}"
                             class="card-img-top" alt="..." referrerpolicy="no-referrer">
                        <div class="card-body">
                            <h6 class="card-title text-center" th:text="${grupoNow.nome}">Nome do Grupo</h6>
                        </div>
                        <ul class="list-group list-group-flush" style="text-align: center;">
                            <li class="list-group-item">
                                <a th:href="${grupoService.diretorioParaGrupo(grupoNow.id)}"
                                   class="btn btn-primary">Ver Grupo</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
    <div class="card" style="width:100%;">
        <div class="card-header text-center">Minhas Competências
            <span th:unless="${perfil.getCompetencias() == null || perfil.getCompetencias().empty}"
             th:text="'(' +${perfil.getCompetencias().size()}+ ')'">
                (0)
            </span>
        </div>
        <div class="card-body" style="padding-bottom:0px">
            <div class="row">
                <h6 th:if="${perfil.getCompetencias().empty}"> Sem Competências </h6>

                <div class="col-sm-4" th:unless="${perfil.getCompetencias().empty}"
                     th:each="competenciaNow : ${perfil.getCompetencias()}">
                    <div class="card" style="width:100%; margin-bottom:17px">

                        <!-- Start Cartão da competência -->
                        <div class="card-body">

                            <!-- Título -->
                            <h6 class="card-title text-center" th:text="${competenciaNow.competenciaTipo.nome}">Nome da competência</h6>

                            <!-- Nível -->
                            <h6 class="card-title text-center"
                            th:text="${'('+ (competenciaNow.getNivel() == null ? 'Nenhuma Experiência' : competenciaNow.getNivel().label) + ')'}">
                                nível da competência
                            </h6>

                            <br>

                            <!-- Descrição -->
                            <p style="text-align:center" th:text="${competenciaNow.getDescricao()}">Descrição</p>


                        </div>
                        <!-- End Cartão da competência -->

                    </div>
                </div>
            </div>
        </div>

    <!-- Start Editar competências -->
    <a th:unless="${!usuarioService.usuarioDonoDaSessao(perfil.usuario)}" class="card-footer text-center"
       style="background-color:#B4FFC2;
            text-decoration: none;
            cursor: pointer" th:href="'/p/' +${perfil.getUsuario().getUsername()} + '/competencias'">
       Gerenciar Minhas Competências
    </a>
    <!-- End Editar competências -->

</div>
</div>


</body>
</html>