<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="links">

    <div class="card" style="width:100%;">

        <div class="card-header text-center">Gerenciar Meus Links</div>
        <div class="card-body">
            <div class="input-group mb-3 text-center" style="width:150px;margin: 0 auto;" id="botaoCriar">
                <button onclick="mostrarForm(true);" class="btn btn-outline-primary text-center" type="button" id="addParticipanteBt">Criar Link
                    </button>
            </div>

            <form onsubmit="criarLink(this.id);return false;" oninput="validar();" id="formCriar" hidden>
                <input type="hidden" name="linkId" id="linkId" value=""/>
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" value="">
                </div>
                <div class="mb-3">
                    <label for="url" class="form-label">* Link</label>
                    <input type="text" class="form-control" id="url" name="url" value="">
                </div>
                <div class="mb-3">
                    <label for="tipo" class="form-label">* Tipo de Link</label>
                    <select id="tipo" name="tipo" class="form-select" value="">
                        <option value="" selected disabled hidden>Selecionar...</option>
                        <option th:each="tipoNow : ${tipoLinks}" th:value="${tipoNow}" th:text="${tipoNow.label}"></option>
                    </select>
                </div>
                <p align="right">
                    <button type="submit" id="formBt" class="btn btn-primary bi bi-database-fill-check">Criar Link</button>
                </p>
            </form>

        </div>

        <div class="card-header card-footer text-center">Editar Meus Links
            <span th:unless="${perfil.getLinks() == null || perfil.getLinks().empty}"
                  th:text="'(' +${perfil.getLinks().size()}+ ')'">
                (0)
            </span>

        </div>
        <div class="card-body" style="padding-bottom:0px">
            <div class="row">
                <h6 th:if="${perfil.getLinks().empty}"> Sem Links </h6>

                <div class="col-sm-4" th:unless="${perfil.getLinks().empty}"
                     th:each="linkNow: ${perfil.getLinks()}">
                    <div class="card" style="width:100%; margin-bottom:17px">

                        <!-- Start Cartão da link -->
                        <div class="card-body">

                            <!-- tipo -->
                            <ul class="list-group">
                                <a th:class="${'list-group-item bi-' + linkNow.tipo.bootstrapIconName}" th:href="${linkNow.url}" th:text="${' ' + ((linkNow.nome != null)?linkNow.nome:linkNow.tipo.label)}" target="_blank">Link</a>
                            </ul>

                        </div>

                        <ul class="list-group list-group-flush" style="text-align: center;">
                            <li class="list-group-item">
                                <button onclick="editarLinkNow(this.id);"
                                        class="btn btn-warning" th:id="${linkNow.getId()}">Editar</button>
                            </li>
                            <li class="list-group-item">
                                <button onclick="removerLinkNow(this.id);"
                                        class="btn btn-danger" th:id="${linkNow.getId()}">Remover</button>
                            </li>
                        </ul>

                        <!-- End Cartão da competência -->

                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        function validar() {
            checkCampo(url);
            checkCampo(tipo);
        }
        validar();
        function mostrarForm(modoCriar) {
            document.getElementById('formCriar').hidden = false;
            document.getElementById('botaoCriar').hidden = modoCriar ? true : false;
            document.getElementById('formBt').textContent = modoCriar ? 'Criar Link' : 'Editar Link';
            document.getElementById('linkId').value = null;
            document.getElementById('url').value = null;
            document.getElementById('nome').value = null;
            document.getElementById('tipo').value = '';
        }
        function criarLink(formId) {
            sendForm(formId, (document.getElementById('linkId').value)? '/link/atualizar' : '/link/criar', function editarCallback(jsonResponse) {
                if(jsonResponse.sucess) {
                    setTimeout(function () {
                        window.location.reload();
                    }, tempoDelayParaRedirecionar);
                }
            });
        }
        function removerLinkNow(idLink) {
            var bodyValores = {
                linkId: idLink,
            }
            api_request('/link/remover', bodyValores, function removerCallback(jsonResponse) {
                if(jsonResponse.sucess) {
                    setTimeout(function () {
                        window.location.reload();
                    }, tempoDelayParaRedirecionar);
                }
            });
        }
        function editarLinkNow(idLink) {
            var bodyValores = {
                linkId: idLink,
            }
            api_request('/link/obter', bodyValores, function obterCallback(jsonResponse) {
                if(jsonResponse.sucess) {
                    var linkDic = jsonResponse.conteudo.link;
                    mostrarForm(false);
                    document.getElementById('linkId').value = linkDic.id;
                    document.getElementById('url').value = linkDic.url;
                    document.getElementById('nome').value = linkDic.nome;
                    document.getElementById('tipo').value = linkDic.tipo;
                    validar();
                }
            });
        }
    </script>

</div>


</body>
</html>