<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Fragmento Nome do Participante -->

<span th:fragment="nome" class="item-author text-color"
      data-abc="true">
    <a th:href="@{/p/{path}(path=${participantePerfil.usuario.getUsername()})}" style="color: inherit;text-decoration: inherit;">
        <span th:if="${@usuarioService.isUsernameOnline(participantePerfil.usuario.getUsername())}" class="onlineLogo"></span>
    <span th:text="${participantePerfil.getNome()==null?participantePerfil.usuario.getUsername():participantePerfil.getNome()}">Nome do participante</span> <span
        th:unless="${participantePerfil.getNome()==null || participantePerfil.usuario.isEmail_verificado() == false}"
        class="bi bi-patch-check-fill" style="color: rgb(56, 179, 255);"></span>
    </a>
</span>


</body>
</html>