<!DOCTYPE html>
<html lang="en">

<head th:include="index :: head(title=~{::title/text()})">
    <title>Perfil</title>
</head>

<body>
<div class="container px-3 mx-auto">
    <div th:replace="elementos/navbar :: navbar"></div>
    <div id="areaDeAlertas" style="max-width:700px;margin: 0 auto;"></div>
    <h2 th:text="${error}" th:unless="${error == null}">Menssagem de error.</h2>


    <div style="max-width=80%;margin: 0 auto;" th:unless="${error != null}">

        <div class="container">

            <div class="row gutters">

                <div class="col" style="width:20%;max-width:210px;min-width:150px;padding-right: 10px;"
                     th:unless="${perfil == null || (usuarioService.usuarioPrecisaDePerfil(perfil.user) && #strings.endsWith(@usuarioService.obterUrlAtual(), '/editar'))}">
                    <div class="card" style="width: 100%;">
                        <img th:src="${(perfil==null || perfil.imagem==null)?'https://i.imgur.com/vUBrCxr.png':perfil.imagem}"
                             class="card-img-top" alt="Perfil" referrerpolicy="no-referrer">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <span th:with="participantePerfil = ${perfil}">
                                    <span th:replace="perfil/nome :: nome"></span>
                                </span>
                            </h5>

                            <div class="text-center"
                                 th:unless="${perfil == null || usuarioService.usuarioDonoDaSessao(perfil.user)}">
                                <br/>
                                <ul class="list-group">
                                    <a class="list-group-item bi bi-hand-thumbs-up"
                                       th:href="'/recomendar/'+${perfil.user.getUsername()}" style="color: #15be56;">
                                        Recomendar</a>
                                </ul>
                            </div>

                        </div>
                        <div class="card-header card-footer text-center">Bio</div>
                        <div class="card-body">
                            <p class="card-text" th:text="${perfil==null?'':perfil.getBio()}">Bio do Perfil</p>
                        </div>

                        <div th:unless="${(perfil==null || perfil.getLinks()==null || perfil.getLinks().empty)}">
                            <div class="card-header card-footer text-center">Link's</div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <a th:class="${'list-group-item bi-' + linkNow.tipo.bootstrapIconName}"
                                       th:each="linkNow : ${perfil.getLinks()}" th:href="${linkNow.url}"
                                       th:text="${' ' + ((linkNow.nome != null)?linkNow.nome:linkNow.tipo.label)}"
                                       target="_blank">Link</a>
                                </ul>
                            </div>
                        </div>

                        <ul class="list-group list-group-flush"
                            th:unless="${perfil == null || #strings.endsWith(@usuarioService.obterUrlAtual(), '/editar') || !usuarioService.usuarioDonoDaSessao(perfil.user)}">
                            <a th:href="'/p/' +${perfil.getUsuario().getUsername()} + '/links'"
                               class="list-group-item text-center bi bi-link"
                               style="background-color:#B4FFC2;text-decoration: none;"> Gerenciar Links</a>
                            <a th:href="'/p/' +${perfil.getUsuario().getUsername()} + '/editar'"
                               class="list-group-item text-center bi bi-pencil-square"
                               style="background-color:#B4FFC2;text-decoration: none;"> Editar Perfil</a>
                        </ul>
                    </div>
                </div>


                <div class="col" style="width:60%;">

                    <div th:switch="${flagPage==null?'info':flagPage}">
                        <div th:case="'flagEditar'">
                            <div th:replace="perfil/editar :: editar"/>
                        </div>
                        <div th:case="'flagCompetencias'">
                            <div th:replace="perfil/competencias :: competencias"/>
                        </div>
                        <div th:case="'flagLinks'">
                            <div th:replace="perfil/links :: links"/>
                        </div>
                        <div th:case="'info'">
                            <div th:replace="perfil/info :: info"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <br/><br/>

    <script th:if="${session.user.perfil==null || session.user.perfil.getNome()==null}">
        alert("Complete o seu cadastro para começar a usar o Universi.me !", 'warning');

    </script>

</div>

</div>

</div>

<div th:replace="elementos/footer :: footer"></div>
</div>
</body>
</html>