<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
    <title th:text="${perfil.nome}+' - Universi.me'" th:unless="${perfil == null || perfil.nome == null}">Perfil</title>
    <title th:unless="${perfil != null && perfil.nome != null}">Perfil - Universi.me</title>
</head>
<body>
<div class="container py-4 px-3 mx-auto">
    <div th:replace="elementos/navbar :: navbar"></div>
    <div id="areaDeAlertas" style="max-width:700px;margin: 0 auto;"></div>
    <h2 th:text="${error}" th:unless="${error == null}">Menssagem de error.</h2>


    <div style="max-width=80%;margin: 0 auto;" th:unless="${error != null}">

        <p><h4 th:text="'Perfil: ' + ${perfil.getNome()}" th:unless="${perfil == null || perfil.getNome() == null}" style="text-align: center;">Perfil</h4></p>


        <div class="container">

            <div class="row gutters">

                <div class="col" style="width:20%;max-width:210px;min-width:150px;padding-right: 10px;" th:unless="${perfil == null || usuarioService.usuarioPrecisaDePerfil(perfil.usuario)}">
                    <div class="card" style="width: 100%;">
                        <img th:src="${(perfil==null || perfil.getImagem()==null)?'https://i.imgur.com/vUBrCxr.png':perfil.getImagem()}" class="card-img-top" alt="Perfil">
                        <div class="card-body">
                            <h5 class="card-title text-center"><span th:text="${perfil==null?'':perfil.getNome()}">Nome do Perfil</span><span th:unless="${perfil==null || perfil.getNome()==null || perfil.getUsuario().isEmail_verificado() == false}">   <img src="https://i.imgur.com/w3aKauq.png" width="22" /></span></h5>
                        </div>
                        <div class="card-header card-footer text-center">Bio</div>
                        <div class="card-body">
                            <p class="card-text" th:text="${perfil==null?'':perfil.getBio()}">Bio do Perfil</p>
                        </div>
                        <a class="card-footer text-center" th:unless="${perfil == null || #strings.endsWith(#httpServletRequest.requestURI, '/editar')}" th:href="'/p/' +${perfil.getUsuario().getUsername()} + '/editar'"
                             style="background-color:#B4FFC2;text-decoration: none;">Editar Perfil
                        </a>
                    </div>
                </div>


                <div class="col" style="width:60%;">

                    <div th:switch="${flagPage==null?'info':flagPage}">
                        <div th:case="'flagEditar'">
                            <div th:replace="perfil/editar :: editar" />
                        </div>
                        <div th:case="'info'">
                            <div th:replace="perfil/info :: info" />
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <br/><br/>

    <script th:if="${session.usuario.perfil==null || session.usuario.perfil.getNome()==null}">
        alert("Complete o seu cadastro para começar a usar o Universi.me !", 'warning');
    </script>

    <p align="left">
        <br/>
        <button onclick="javascript:window.history.back();" class="btn btn-primary">Voltar</button>
    </p>

</div>

</div>

</div>

<div th:replace="elementos/footer :: footer"></div>
</div>
</body>
</html>