<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="competencias">

    <div class="list list-row card" id="sortable" data-sortable-id="0" aria-dropeffect="move">
        <div class="list-item" th:unless="${listaCompetencias == null}" th:each="i : ${#numbers.sequence(listaCompetencias.size() - 1, 0, -1)}"
        th:with="competenciaNow = ${listaCompetencias[i]}">

            <div class="flex">
                <b class="item-author text-color" data-abc="true" th:text="${competenciaNow.competenciaTipo.nome}">Competecia</b>
                <div class="item-except text-muted text-sm"
                     th:text="${'('+ (competenciaNow.getNivel() == null ? 'Nenhuma Experiência' : competenciaNow.getNivel().label) + ')'}">
                    Nível
                </div>
            </div>
            <div style="max-width:55%;float:right;">
                <div class="item-date text-muted text-sm d-none d-md-block" th:text="${competenciaNow.getDescricao()}">
                    Descrição
                </div>
            </div>
            <div>

                <button th:unless="${modoEditar == null}" onclick="editarCompetenciaNow(this.id);"
                        class="btn btn-warning bi-pencil-square" th:id="${competenciaNow.getId()}"> Editar
                </button>

                <button th:unless="${modoEditar == null}" onclick="removerCompetenciaNow(this.id);"
                        class="btn btn-danger bi bi-trash" th:id="${competenciaNow.getId()}"> Remover
                </button>

            </div>
        </div>
    </div>

</div>


</body>
</html>