<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="competenciaTipo">

    <div class="col-sm-4" th:unless="${listaCompetenciaTipo == null}" th:each="competenciaNow: ${listaCompetenciaTipo}">
        <div class="card" style="width:100%; margin-bottom:17px">

            <!-- Start Cartão da competência -->
            <div class="card-body">

                <!-- Título -->
                <h6 class="card-title text-center" th:text="${competenciaNow.getNome()}">Nome da
                    competência</h6>


            </div>

            <ul class="list-group list-group-flush" style="text-align: center;">
                <li class="list-group-item" th:unless="${modoEditar == null}">
                    <button onclick="editarCompetenciaNow(this.id);"
                            class="btn btn-warning" th:id="${competenciaNow.getId()}">Editar
                    </button>
                </li>
                <li class="list-group-item" th:unless="${modoEditar == null}">
                    <button onclick="removerCompetenciaNow(this.id);"
                            class="btn btn-danger" th:id="${competenciaNow.getId()}">Remover
                    </button>
                </li>
            </ul>

            <!-- End Cartão da competência -->

        </div>
    </div>

</div>


</body>
</html>