<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="grupo">
    <div class="col-sm-3" th:unless="${listaGrupo == null}" th:each="grupoNow : ${listaGrupo}"
         style="padding-bottom: 30px;">
        <div th:with="idGrupoPai = ${@grupoService.findGrupoPaiDoGrupo(grupoNow.getId())}">
            <div class="card" style="width: 60%;" th:unless="${(grupoNow.grupoRoot == false && idGrupoPai == null)}">
                <img th:src="${grupoNow.imagem==null?'https://i.imgur.com/SfAl1Vb.png':grupoNow.imagem}"
                     class="card-img-top" alt="..." referrerpolicy="no-referrer">
                <div class="card-body">
                    <h6 class="card-title text-center" th:text="${grupoNow.nome}">Nome do Grupo</h6>
                </div>
                <ul class="list-group list-group-flush" style="text-align: center;">
                    <li class="list-group-item">
                        <a th:href="${@grupoService.diretorioParaGrupo(grupoNow)}"
                           class="btn btn-primary" th:text="${grupoNow.grupoRoot?'Ver Grupo':'Ver Subgrupo'}">Ver Subgrupo</a>
                    </li>
                    <li class="list-group-item" th:unless="${modoEditar == null}">
                        <a th:href="${@grupoService.diretorioParaGrupo(grupoNow)} + '/editar'"
                           class="btn btn-warning">Editar</a>
                    </li>
                    <li class="list-group-item" th:unless="${modoEditar == null}">
                        <button th:attr="onclick=|removerGrupo('${idGrupoPai}', '${grupoNow.getId()}');|"
                                href="#" class="btn btn-danger">Remover
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


</body>
</html>