<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="grupo">

    <div class="list list-row card" id="sortable" data-sortable-id="0" aria-dropeffect="move">
        <div class="list-item" th:unless="${listaGrupo == null}" th:each="grupoNow : ${listaGrupo}"
             th:if="${!(grupoNow.grupoRoot == false && @grupoService.findGrupoPaiDoGrupo(grupoNow.getId()) == null)}">
            <div>
                <img th:src="${grupoNow.imagem==null?'https://i.imgur.com/SfAl1Vb.png':grupoNow.imagem}"
                     class="w-50 img-thumbnail" alt="..." referrerpolicy="no-referrer" />
            </div>
            <div class="flex">
                <span class="item-author text-color" data-abc="true" th:text="${grupoNow.nome}">Nome do Grupo</span>
                <div class="item-except text-muted text-sm h-1x" th:text="${grupoNow.tipo.label}">Tipo de Grupo</div>
            </div>
            <div class="no-wrap">
                <div class="item-date text-muted text-sm d-none d-md-block"></div>
            </div>
            <div>

                <a th:href="${@grupoService.diretorioParaGrupo(grupoNow)}"
                   class="btn btn-primary" th:text="${grupoNow.grupoRoot?'Ver Grupo':'Ver Subgrupo'}">Ver
                    Subgrupo</a>

                <a th:unless="${modoEditar == null}" th:href="${@grupoService.diretorioParaGrupo(grupoNow)} + '/editar'"
                   class="btn btn-warning bi-pencil-square"> Editar</a>

                <button th:unless="${modoEditar == null}"
                        th:attr="onclick=|removerGrupo('${@grupoService.findGrupoPaiDoGrupo(grupoNow.getId())}', '${grupoNow.getId()}');|"
                        href="#" class="btn btn-danger bi bi-trash"> Remover
                </button>
            </div>
        </div>
    </div>

</div>


</body>
</html>