<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="links">

    <div class="col-sm-4" th:unless="listaLinks == null" th:each="linkNow: ${listaLinks}">
        <div class="card" style="width:100%; margin-bottom:17px">

            <!-- Start Cartão da link -->
            <div class="card-body">

                <!-- tipo -->
                <ul class="list-group">
                    <a th:class="${'list-group-item bi-' + linkNow.tipo.bootstrapIconName}" th:href="${linkNow.url}"
                       th:text="${' ' + ((linkNow.nome != null)?linkNow.nome:linkNow.tipo.label)}"
                       target="_blank">Link</a>
                </ul>

            </div>

            <ul class="list-group list-group-flush" style="text-align: center;">
                <li class="list-group-item" th:unless="${modoEditar == null}">
                    <button onclick="editarLinkNow(this.id);"
                            class="btn btn-warning" th:id="${linkNow.getId()}">Editar
                    </button>
                </li>
                <li class="list-group-item" th:unless="${modoEditar == null}">
                    <button onclick="removerLinkNow(this.id);"
                            class="btn btn-danger" th:id="${linkNow.getId()}">Remover
                    </button>
                </li>
            </ul>

            <!-- End Cartão da competência -->

        </div>
    </div>

</div>


</body>
</html>