<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="participante">

    <div class="list list-row card" id="sortable" data-sortable-id="0" aria-dropeffect="move">
        <div class="list-item" th:unless="${listaParticipantes == null}" th:each="participanteNow : ${listaParticipantes}">
            <div>
                <img th:src="${participanteNow.imagem==null?'https://i.imgur.com/vUBrCxr.png':participanteNow.imagem}"
                     class="img-thumbnail" alt="..." referrerpolicy="no-referrer" width="50" height="50">
            </div>
            <div class="flex">
                <span
                        th:text="${participanteNow.getNome()==null?participanteNow.usuario.getUsername():participanteNow.getNome()}">Nome do participante</span><span
                    th:unless="${participanteNow.getNome()==null || participanteNow.usuario.isEmail_verificado() == false}">   <img
                    src="https://i.imgur.com/w3aKauq.png" width="22"/></span>
            </div>
            <div class="no-wrap">
                <div class="item-date text-muted text-sm d-none d-md-block"></div>
            </div>
            <div>

                <a th:href="@{/p/{path}(path=${participanteNow.usuario.getUsername()})}"
                   class="btn btn-primary">Ver Perfil</a>
                <button th:unless="${modoEditar == null}" th:attr="onclick=|removerParticipante('${grupo.getId()}','${participanteNow.usuario.getUsername()}');|"
                        href="#" class="btn btn-danger bi bi-trash"> Remover
                </button>

            </div>
        </div>
    </div>



</div>




</body>
</html>