<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="participante">

    <div class="list list-row card" id="sortable" data-sortable-id="0" aria-dropeffect="move">
        <div class="list-item" th:unless="${listaParticipantes == null}"
             th:each="i : ${#numbers.sequence(listaParticipantes.size() - 1, 0, -1)}"
             th:with="participanteNow = ${listaParticipantes[i]}">

            <a th:href="@{/p/{path}(path=${participanteNow.user.getUsername()})}" style="float:left;">
                <img th:src="${participanteNow.imagem==null?'https://i.imgur.com/vUBrCxr.png':participanteNow.imagem}"
                     class="w-50 img-thumbnail" alt="..." referrerpolicy="no-referrer"/>
            </a>

            <div class="flex">
                <span th:with="participantePerfil = ${participanteNow}">
                    <span th:replace="perfil/nome :: nome"></span>
                </span>

                <div class="item-except text-muted text-sm">
                    <span class="bi bi-hand-thumbs-up"
                          th:text="' '+${participanteNow.getRecomendacoesRecebidas().size()}">N de recomendações</span>
                </div>
            </div>

            <div>
                <div class="item-date text-muted text-sm d-none d-md-block">
                </div>
            </div>

            <div>
                <a th:href="@{/p/{path}(path=${participanteNow.user.getUsername()})}"
                   class="btn btn-primary">Ver Perfil</a>
                <button th:unless="${modoEditar == null}"
                        th:attr="onclick=|removerParticipante('${grupo.getId()}','${participanteNow.user.getUsername()}');|"
                        href="#" class="btn btn-danger bi bi-trash"> Remover
                </button>
            </div>
        </div>
    </div>


</div>


</body>
</html>