<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="recomendacao">
    <div class="list list-row card" id="sortable" data-sortable-id="0" aria-dropeffect="move">
        <div class="list-item" th:unless="${listaRecomendacoes == null}"
             th:each="i : ${#numbers.sequence(listaRecomendacoes.size() - 1, 0, -1)}"
             th:with="recomendacaoNow = ${listaRecomendacoes[i]}">

            <a th:href="@{/p/{path}(path=${recomendacaoNow.origem.user.getUsername()})}" style="float:left;">
                <img th:src="${(recomendacaoNow.origem==null || recomendacaoNow.origem.imagem==null)?'https://i.imgur.com/vUBrCxr.png':recomendacaoNow.origem.imagem}"
                     class="w-50 img-thumbnail" alt="..." referrerpolicy="no-referrer" />
            </a>

            <div class="flex" style="width:30%;float:left;">
                <span th:with="participantePerfil = ${recomendacaoNow.origem}">
                    <span th:replace="perfil/nome :: nome"></span>
                </span>

                <div class="item-except text-muted text-sm" th:unless="${recomendacaoNow.competenciaTipo==null}">
                    <p th:unless="${recomendacaoNow.competenciaTipo==null}">Recomendou pela competência: <b
                        th:text="${recomendacaoNow.competenciaTipo.nome}"></b></p>
                </div>
            </div>

            <div style="width:55%;float:right;">
                <div class="item-date text-muted text-sm d-none d-md-block">
                    <p class="card-text" th:text="${recomendacaoNow.getDescricao()}">Descrição da Recomendação</p>
                </div>
            </div>

            <div th:unless="${!@usuarioService.usuarioDonoDaSessao(recomendacaoNow.origem.user)}">

                <button th:onclick="removerRecomendacao(this.id)" th:id="${recomendacaoNow.getId()}" href="#" class="btn btn-danger bi bi-trash"> Remover</button>

            </div>

        </div>
    </div>
</div>


</body>
</html>