<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="recomendacao">
    <div class="list list-row card" id="sortable" data-sortable-id="0" aria-dropeffect="move">
        <div class="list-item" th:unless="${listaRecomendacoes == null}"
             th:each="i : ${#numbers.sequence(listaRecomendacoes.size() - 1, 0, -1)}"
             th:with="recomendacaoNow = ${listaRecomendacoes[i]}">
            <div style="float:left;">
                <img th:src="${(recomendacaoNow.origem==null || recomendacaoNow.origem.imagem==null)?'https://i.imgur.com/vUBrCxr.png':recomendacaoNow.origem.imagem}"
                     class="w-50 img-thumbnail" alt="..." referrerpolicy="no-referrer" width="50" height="50">
            </div>

            <div class="flex" style="width:30%;float:left;">
                <span class="item-author text-color" data-abc="true" th:text="${recomendacaoNow.origem.getNome()==null?recomendacaoNow.origem.usuario.getUsername():recomendacaoNow.origem.getNome()}">Nome do participante</span><span
                    th:unless="${recomendacaoNow.origem.getNome()==null || recomendacaoNow.origem.usuario.isEmail_verificado() == false}">   <img
                    src="https://i.imgur.com/w3aKauq.png" width="22"/></span>
                <div class="item-except text-muted text-sm" th:unless="${recomendacaoNow.competenciaTipo==null}">
                    <p th:unless="${recomendacaoNow.competenciaTipo==null}">Recomendou pela competência: <b
                        th:text="${recomendacaoNow.competenciaTipo.nome}"></b></p>
                </div>
            </div>

            <div style="width:55%;float:right;">
                <div class="item-date text-muted text-sm d-none d-md-block">
                    <p class="card-text" th:text="${recomendacaoNow.getDescricao()}">Descrição da Recomendação</p>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>